alphabet_detector
bs4
bleach
cachetools
covid
demjson
dnspython
emoji
feedparser
future
git+https://github.com/userbotindo/python-markdown2.git
gtts
lxml
pillow
psutil
psycopg2-binary
pymongo[srv]
python-telegram-bot
pytz
python-dotenv
requests
spamwatch
speedtest-cli
sqlalchemy==1.3.23
telegraph
wget
wikipedia
hurry.filesize
